.item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #777777;
  background-color: white;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.status {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}

.isOnline {
  background-color: green;
}

.avatar {
  width: 48px;
  margin-left: 20px;
  margin-right: 20px;
}

.name {
  margin-right: 20px;
}
