.item {
  padding: 10px;
  min-width: 60px;
}

.item:nth-child(4n + 1) {
  background-color: #4ec6f8;
}

.item:nth-child(4n + 2) {
  background-color: #a43cf3;
}

.item:nth-child(4n + 3) {
  background-color: #e64c66;
}

.item:nth-child(4n) {
  background-color: #20b8c5;
}

.label {
  font-size: 75%;
  margin-bottom: 5px;
  display: block;
}
