.profile {
  width: 300px;
  text-align: center;
  background-color: white;
  margin-right: 10px;
  margin-bottom: 50px;
  padding-top: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #777777;
  overflow: hidden;
}

.avatar {
  width: 200px;
  border-radius: 50%;
}

.name {
  font-weight: bold;
  margin: 5px 0;
}

.tag {
  margin-bottom: 5px;
}

.stats {
  display: flex;
  border-top: 2px solid #e4e9f0;
  margin-top: 20px;
  background-color: #f3f6f9;
}

.stats li {
  padding: 10px;
  flex-basis: 33.3%;
}

.stats li:not(:last-child) {
  border-right: 2px solid #e4e9f0;
}

.label {
  display: block;
}

.quantity {
  font-weight: bold;
}
